@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
  background-color: rgb(238, 233, 233);
}

button {
  margin-bottom: 26px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #f3efef;
  border: 1px solid #f3efef;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #9e9e9e, -6px -6px 12px #e4e4e4;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

button:hover {
  background: rgba(221, 221, 221, 0.199);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: #6667AB ;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 4rem;
}

#grid-container {
  display: flex;
  height: 520px;
  width: 520px;
  border: 3px solid rgb(1, 3, 36);
  background: white;
  box-shadow: -18px 8px 48px rgb(24, 24, 24);
}

.row {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.column {
  display: flex;
  height: 100%;
  border: 1px solid rgba(1, 3, 26, 0.212);
}

.hovered {
  background-color: black;
}

#buttons-container {
  display: flex;
  justify-content: space-around;
}

.rainbow-background,
#rainbow:hover {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

.rainbow-text {
  color: black;
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.footer {
  font-size: large;
}